

body, html {
  height: 100%;
  margin: 0px;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2.5px;
  color: #331D11;
  background-color: #F6F2F3;
  background-color: #5A7D7C;
}
body{
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
}

h1 {
  font-size: 86px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 3.5px;

  /* letter-spacing: .5px; */
}
@media only screen and (max-width: 768px) {
  h2 {
  font-size: 36px;
  letter-spacing: 2.5px;
}
}
h3 {
  font-size: 30px;
}


h4 {
  font-size: 24px;
  font-weight: 900;
  text-transform: lowercase;
  letter-spacing: 1px;
}

h5 {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

h6 {
  font-size: 18px;
  font-weight: 600;
}
p {
  margin-bottom: 0px;

}

.text-cream {
  color: #EEE3CA;
}

.btn-primary {
  background-color: #9D3B30 !important;
  border: 2px solid #EEE3CA !important;
  box-shadow: 4px 6px #EEE3CA !important;
  color: #EEE3CA !important;
  width: 100%;
  border-radius: 0px;
  padding: 10px 25px;
  margin: 10px 0px;
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 1;
  text-transform: capitalize;
  transition: box-shadow .5s ease-out, background-color .5s ease-out, color .5s ease-out !important;
  -webkit-transition: box-shadow .5s ease-out, background-color .5s ease-out, color .5s ease-out !important;
  -moz-transition: box-shadow .5s ease-out, background-color .5s ease-out, color .5s ease-out !important;
  -o-transition: box-shadow .5s ease-out, background-color .5s ease-out, color .5s ease-out !important;
  transition: box-shadow .5s ease-out, background-color .5s ease-out, color .5s ease-out;

}

.btn-primary:hover {
  background-color: #EEE3CA !important;
  box-shadow: none !important;
  color: #9D3B30 !important;
  transition: box-shadow .5s ease-out, background-color .5s ease-out, color .5s ease-out !important;
  -webkit-transition: box-shadow .5s ease-out, background-color .5s ease-out, color .5s ease-out !important;
  -moz-transition: box-shadow .5s ease-out, background-color .5s ease-out, color .5s ease-out !important;
  -o-transition: box-shadow .5s ease-out, background-color .5s ease-out, color .5s ease-out !important;
  transition: box-shadow .5s ease-out, background-color .5s ease-out, color .5s ease-out !important;
}

button:focus {
  outline: none;
}


/* ------------------------ HOME SECTION ------------------------ */
.hellomtn-section {
  min-height: 100vh;
  max-width: 100vw;
  /* The image used */
  background-image: url("../Assets/Images/mountain.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  width:60vw;
  padding-top: 12vh;
}

a.nav-link {
  color: #331D11 !important;
  padding: 2px 3px;
  box-shadow: inset 0 -3px 0 #FFF;
  transition: all .5s ease-in-out;
  max-width: fit-content;
  letter-spacing: 3px;
}

.nav-link:hover {
  color: #9D3B30;
  box-shadow: inset 0 -38px 0 0 #FFF;
  cursor: pointer;
}

/* ------------------------ SHOW TICKETS SECTION ------------------------ */

.ticket-section {
  position:relative;
  height:100vh;
  min-height: 700px;
  background-color: #9D3B30;
  z-index:2;
}

.bigTextCon {
  position:absolute;
  width:100%;
  height:155px;
  left:0;
  right:0;
  margin:auto;
  overflow: hidden;
  background-color:rgba(0,0,0,0.0);
}

#bigTextConTop{
  top:0;
}

#bigTextConBottom{
  bottom:0;
  transform: rotateY(180deg);
}

.lookDontText{
  /* position: absolute; */
  /* font-family: "hnBold"; */
  font-size: 150px;
  width: 6500px;
  left: 100px;
  color: #EEE3CA;
  font-weight: 900;
  opacity: .25;
  letter-spacing: 30px;
}

#lookDontTextTop{
  line-height: 105px;
}

#lookDontTextBottom{
  line-height: 197px;
}


.tour-list {
  padding-top: 230px !important;
}

.tour-list:before {
  content: "";
  position: absolute;
  width: 6%;
  max-width: 120px;
  height: 500px;
  border: 1px solid $m-01;
  right: 0;
  transform: translatey(-200px);
  animation: beforeShape1 6s ease infinite alternate both;
}

@keyframes beforeShape1 {
  0% {
    transform: translate(50px, -200px);
  }

  100% {
    transform: translate(0px, -280px);
  }
}


.content {
  width: 100%;
  margin: auto;
    width: 80%;
    max-width: 1024px;
    margin: 20px auto;
}

/* .content .shows {
  margin-bottom: 60px;
  grid-column: 1 / 11;
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 4%;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.3px;
  font-weight: 600;
  align-items: center;
  padding: 20px 10px;
  grid-template-areas: "date place country buttons";
  transition: all 1s ease;
  cursor: pointer;

} */






/* .content .shows .button-container {
  display: flex;
  grid-area: buttons;
} */

.content .shows .button-container .btn-buy {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #EEE3CA !important;
  background-color: transparent;
  padding: 8px 16px;
  transition: all 0.6s ease !important;
  border: 2px solid #EEE3CA !important;
  cursor: pointer;
}
.content .shows .button-container .btn-buy:hover {
  background-color: #EEE3CA !important;
  box-shadow: none;
  color: #9D3B30 !important;
  transition: background-color .5s ease-out, color .5s ease-out;
  -webkit-transition: background-color .5s ease-out, color .5s ease-out;
  -moz-transition: background-color .5s ease-out, color .5s ease-out;
  -o-transition: background-color .5s ease-out, color .5s ease-out;
  transition: background-color .5s ease-out, color .5s ease-out;
}


.width-100 {
  width: 100%
}
.content table tr {
  line-height: 1.8;
  border-top: 2px solid rgba(	238, 227, 202, .25);
  font-weight: 300;
  letter-spacing: 2.5px;
}

.content table tr td {
  padding: 30px 10px;
}

.content table tr td a:hover{
  color: #EEE3CA;
}

.content table tr td a:active{

  color: #EEE3CA ;
}
@media only screen and (max-width: 768px) {
  .lookDontText{
    font-size: 100px;
    letter-spacing: 7px;
  }

  #lookDontTextTop {
    line-height: 76px;

  }

  #lookDontTextBottom {
    line-height: 180px;
  }

  .content table tr {
    line-height: 1.25;
  }
  .content table tr td {
    display: block;
    padding: 5px;
    text-align: center;
  }

  .button-container {
    margin-bottom: 15px;
  }
  .when {
    margin-top: 15px;
  }
  .tour-list {
    padding-top: 150px !important;
  }
}






/* ------------------------ ALBUM SECTION ------------------------ */

#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
}
#slideContainer {
  width: 400%; /* to contain 4 panels, each with 100% of window width */
  height: 100%;
}
.panel {
  height: 100%;
  width: 25%; /* relative to parent -> 25% of 400% = 100% of window width */
  float: left;
  padding-top:10vh;
}



.album {
  position: relative;
}
.album-one {
  background-color: #F6F2F3;

}
.album-two {
  background-color: #F6F2F3;

}

.album-three {
  background-color: #F6F2F3;

}
.album header {
  display: flex;
  width: 80%;
  max-width: 1024px;

  margin: 20px auto;
  /* flex-direction: row-reverse; */
  /* justify-content: space-between; */
}
.album header h1 {
  font-size: 15vw;
  font-weight: 700;
}
.album header h3 {
  font-size: 5vw;
}
.album header figure {
  position: relative;
  min-width: 18vw;
  max-width: 500px;
}

.album header figure img {
  max-width: 100%;
}
.album header figure:after {
  content: 'Play';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  font-size: 4.4vw;
  font-weight: 200;
  line-height: 24vw;
  text-align: center;
  color: white;
  opacity: 0;
}
.album header figure:hover {
  cursor: pointer;
}
.album header figure:hover:after {
  opacity: 1;
}
.album table {
  width: 80%;
  max-width: 1024px;

  margin: 40px auto 130px;
}
.album table tr {
  line-height: 1.8;
  border-top: 2px solid rgba(31, 24, 26, .3);
}
.album table tr td {
  padding: 10px 100px;
}

i {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
.album header figure {
  position: relative;
  width: 18vw;
}
.album table tr td {
  padding: 10px;
}
}





/* ------------------------ ABOUT SECTION ------------------------ */



.bio-pane {
  float: left;
  background-color: #5A7D7C;
  border-collapse: collapse;
  padding: 60px;
  color: #F6F2F3;
}
img.barn {
  width: 100%;
  padding-left: 0px;
}







/* ------------------------ FOOTER SECTION ------------------------ */
.page-footer {
  background-color: #9D3B30;
}
